img{
    width: 500px;
}

p, h1, h2, h3{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row; 
}

.ratingMarke{
    display: flex;
    gap: 1rem;
}


.spacer{
    align-self: center;
    width: 1.5px;
    height: 50px;
    background-color: black;
    border-radius: 3px;
}

.itemContainer{
   width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comentShare{
    display: flex;
    gap: 20px;
}

