

.index {
    h1 {
        text-align: center;
    }
}


.container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
  }
  
.title{
    font-size: 4rem;
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    justify-content: center;
}