.link{
  text-decoration: none;
  display: block;
  color: inherit;
}

.productCard {
  display: flex;
  flex-direction: column;
  

  img,
  p {
      margin-bottom: 1rem;
      text-decoration: none;
      color: inherit;
  }

  h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

}

