.button{
    background-color: #e47513;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.button:active {
    background-color: #ca6710e7;
  }

.button-small {
    background-color: #E37C24;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    font-size: 3rem;
    font-weight: bold;
}