.comentareHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.xButton {
    align-self: flex-start;
    background: none;
    border: none;
}

.commentsFeld {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 175px;
    padding: 1rem;
    overflow-y: scroll;
    border: none;
    border-radius: 2px;
    scrollbar-width: none;
}

.sendButton{
    display: flex;
    justify-content: space-between;
}
