.textArea {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid black;
    resize: none; 
    overflow-y: auto;
    max-height: 300px;
    line-height: 1.5;
    box-sizing: border-box;
    transition: height 0.2s ease;
    scrollbar-width: none;
  }
  