img {
    width: 500px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.ratingMarke {
    display: flex;
    gap: 1rem;
}


.spacer {
    align-self: center;
    width: 1.5px;
    height: 50px;
    background-color: black;
    border-radius: 3px;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.comentShare {
    display: flex;
    gap: 20px;
}

.addToCart {
    align-self: flex-start;
}

.selectVolume {
    background-color: white;
    border: none;
    align-self: flex-start;
}

.priceVolume {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.addToCartCount{
    display: flex;
    gap: 1rem;
    align-content: center;
}

.selectCount{
    border: none;
}