img {
    width: 500px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.ratingMarke {
    display: flex;
    gap: 1rem;
}


.spacer {
    align-self: center;
    width: 1.5px;
    height: 50px;
    background-color: black;
    border-radius: 3px;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.comentShare {
    display: flex;
    gap: 20px;
}

.comentShareLoading {
    background: grey;
    height: 50px; 
    width: 60px; 
    border-radius: 8px;
}


.addToCart {
    align-self: flex-start;
}

.addToCartLoading{
    background: grey;
    height: 50px; 
    width: 90px; 
    border-radius: 8px;
}


.selectVolume {
    background-color: white;
    border: none;
    align-self: flex-start;
}

.priceVolume {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.priceVolumeLoading{
    background: grey;
    height: 35px; 
    width: 220px; 
    border-radius: 8px;
}

.addToCartCount{
    display: flex;
    gap: 1rem;
    align-content: center;
}

.selectCount{
    border: none;
}

.imageLoading {
    background: grey;
    height: 500px; 
    width: 800px;
    border-radius: 8px;
}


.likeButtonLoading,
.commentButtonLoading,
.shareButtonLoading {
    background: grey;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.ratingLoading {
    background: grey;
    height: 40px;
    width: 100px;
    border-radius: 6px;
}

.brandLoading {
    background: grey;
    height: 40px;
    width: 80px;
    border-radius: 6px;
}

.shareButtonLoading {
    background: grey;
    height: 40px;
    width: 40px;
    border-radius: 8px;
}
