.logo{
    width: 80px;
    height: 80px;
}

.header{
    display: flex;
    justify-content:  center;
    padding: 0.75rem;
    background-color: #E37C24;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
}

.filler{
    width: 270px;
    height: 100%;
}

