.label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input {

    width: 300px !important;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.wrapper {
    margin-bottom: 15px;
    display: flex;
    justify-content: ;
}

.input-field:focus {
    border-color: var(--primary);
    outline: none;
}

.error {
    color: firebrick;
}