:root {
    --button-bg-color: #d3d3d3;
    --button-hover-bg-color: #b0b0b0; 
    --button-fg-color: #000000; 

    --link-button-bg-color: #E37C24; 
    --link-button-hover-bg-color: #ca7403;
    --link-button-fg-color: #ffffff; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    text-decoration: none;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}


.button:not(.link) {
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
}

.button:not(.link):hover {
    background-color: var(--button-hover-bg-color);
}


.button.link {
    background-color: var(--link-button-bg-color);
    color: var(--link-button-fg-color);
}

.button.link:hover {
    background-color: var(--link-button-hover-bg-color);
    transform: scale(1.05);}

.button.link:visited {
    text-decoration: none;
}

.button:active {
    transform: scale(1);
}


.link-wrapper {
    display: inline-block; 
    text-decoration: none; 
}
