.link{
    text-decoration: none;
    display: block;
    color: inherit;
}

.productCard {
    display: flex;
    flex-direction: column;
    height: 380px;
    img{
        width: 150px !important;
        max-width: 100%;
        height: auto; 
    }
    
    h2,
    img,
    p {
        margin: 0;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
}

.loadingCard{
    background-color: #E37C24;
    width: 300px;
    height: 380px;
    border-radius: 9px;
}

.loadingCard{
    background-color: #E37C24;
    width: 300px;
    height: 380px;
    border-radius: 9px;
}

