.link{
    text-decoration: none;
    display: block;
    color: inherit;
}

.productCard {
    display: flex;
    flex-direction: column;
    
    h2,
    img,
    p {
        margin-bottom: 1rem;
        text-decoration: none;
        color: inherit;
    }

}

