.product {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: aliceblue;
    
    display:flex;
    flex-direction: column;
    align-items: center;

    img{
        max-width: 500px;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    h3{
        font-size: 2rem;
    }
}

.title{
    margin: 0;
    h2{
        margin-top: 0;
    }
    h3{
        margin-top: 0;
    }
    text-align: center;
}

.volumes {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.count{
    padding-top: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.middle{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
}