


p {
  font-size: 15px;
  font-weight: bold
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: white;

}

