


p {
  font-size: 15px;
  font-weight: bold
}

.footer {
  padding: 0 1rem 0 0 ;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  background-color: white;
}

.content{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.bar{
    justify-self: center;

    width: 1000px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
}

.footerMargin{
  margin-bottom: 0.5rem;
}

