.sideBar {
    width: 270px;
    padding: 1rem;
    background-color: wheat;
    margin-top: 106px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    color: black;
    overflow-y: auto;
    padding: 20px;
    border-right: 2px solid black;
}