.sideBar {
    width: 270px;
    padding: 1rem;
    background-color: wheat;
    margin-top: 0;
    position: fixed;
    top: 106px;
    left: 0;
    height: 100vh;
    color: black;
    overflow-y: auto;
    padding: 20px;
    border-right: 2px solid black;
    text-decoration: none;
}

.link{
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bold;
}