.app {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}


.content {
  margin-left: 250px; 
  margin-top: 100px;
}

.sidebarDiv{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 270;

}

.headerDiv{

}